n8n/02_Reminders_NoShow.json
{
  "name": "ClientFlow — Reminders & No-Show Prevention",
  "nodes": [
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            { "name": "API_BASE_URL", "value": "https://YOUR-API-DOMAIN.com/api" },
            { "name": "ORG_ID", "value": "REPLACE_WITH_ORG_UUID" },
            { "name": "AUTH_TOKEN", "value": "Bearer REPLACE_WITH_PERSONAL_ORG_TOKEN" }
          ]
        }
      },
      "id": "setEnv",
      "name": "Set ENV",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [220, 180]
    },
    {
      "parameters": {
        "triggerTimes": [{ "item": { "hour": 0, "minute": 0 } }],
        "rule": { "interval": 1, "unit": "hours" }
      },
      "id": "cronHourly",
      "name": "Cron (Hourly)",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [40, 180]
    },
    {
      "parameters": {
        "requestMethod": "GET",
        "url": "={{$json.API_BASE_URL}}/appointments?window=next_24h",
        "jsonParameters": true,
        "options": {},
        "headerParametersJson": "[{\"name\":\"Authorization\",\"value\":\"={{$json.AUTH_TOKEN}}\"}]",
        "queryParametersJson": "[{\"name\":\"orgId\",\"value\":\"={{$json.ORG_ID}}\"}]"
      },
      "id": "fetchAppointments",
      "name": "Fetch Appointments (next 24h)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [440, 180]
    },
    {
      "parameters": { "fieldToSplitOut": "data", "options": {} },
      "id": "splitItems",
      "name": "Split Appointments",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 1,
      "position": [680, 180]
    },
    {
      "parameters": {
        "conditions": { "number": [{ "value1": "={{$json.reminder_offset_minutes}}", "operation": "smaller", "value2": 180 }] }
      },
      "id": "if24or3",
      "name": "IF 24h or 3h Window?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [920, 180]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "={{$json.API_BASE_URL}}/messages/outbound",
        "jsonParameters": true,
        "options": {},
        "headerParametersJson": "[{\"name\":\"Authorization\",\"value\":\"={{$json.AUTH_TOKEN}}\"}]",
        "bodyParametersJson": "{\"orgId\":\"={{$json.ORG_ID}}\",\"channel\":\"sms\",\"to_addr\":\"={{$json.contact.phone}}\",\"body\":\"={{`Reminder: your appointment is on ${$json.starts_at}. Reply R to reschedule.`}}\"}"
      },
      "id": "sendReminder",
      "name": "Send Reminder SMS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1160, 80]
    },
    {
      "parameters": { "functionCode": "return items;" },
      "id": "noop",
      "name": "No-op",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1160, 300]
    }
  ],
  "connections": {
    "Cron (Hourly)": { "main": [[{ "node": "Set ENV", "type": "main", "index": 0 }]] },
    "Set ENV": { "main": [[{ "node": "Fetch Appointments (next 24h)", "type": "main", "index": 0 }]] },
    "Fetch Appointments (next 24h)": { "main": [[{ "node": "Split Appointments", "type": "main", "index": 0 }]] },
    "Split Appointments": { "main": [[{ "node": "IF 24h or 3h Window?", "type": "main", "index": 0 }]] },
    "IF 24h or 3h Window?": {
      "main": [
        [{ "node": "Send Reminder SMS", "type": "main", "index": 0 }],
        [{ "node": "No-op", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": {},
  "staticData": null,
  "pinData": {}
}