n8n/03_Reviews_Reputation.json
{
  "name": "ClientFlow — Reviews & Reputation",
  "nodes": [
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            { "name": "API_BASE_URL", "value": "https://YOUR-API-DOMAIN.com/api" },
            { "name": "ORG_ID", "value": "REPLACE_WITH_ORG_UUID" },
            { "name": "AUTH_TOKEN", "value": "Bearer REPLACE_WITH_PERSONAL_ORG_TOKEN" }
          ]
        }
      },
      "id": "setEnv",
      "name": "Set ENV",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [220, 180]
    },
    {
      "parameters": {
        "triggerTimes": [{ "item": { "hour": 2, "minute": 0 } }],
        "rule": { "interval": 1, "unit": "days" }
      },
      "id": "cronDaily",
      "name": "Cron (Daily)",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [40, 180]
    },
    {
      "parameters": {
        "requestMethod": "GET",
        "url": "={{$json.API_BASE_URL}}/appointments?status=completed&within=1d",
        "jsonParameters": true,
        "options": {},
        "headerParametersJson": "[{\"name\":\"Authorization\",\"value\":\"={{$json.AUTH_TOKEN}}\"}]",
        "queryParametersJson": "[{\"name\":\"orgId\",\"value\":\"={{$json.ORG_ID}}\"}]"
      },
      "id": "fetchCompleted",
      "name": "Fetch Completed Appointments",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [440, 180]
    },
    {
      "parameters": { "fieldToSplitOut": "data" },
      "id": "splitAppts",
      "name": "Split Items",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 1,
      "position": [680, 180]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "={{$json.API_BASE_URL}}/messages/outbound",
        "jsonParameters": true,
        "options": {},
        "headerParametersJson": "[{\"name\":\"Authorization\",\"value\":\"={{$json.AUTH_TOKEN}}\"}]",
        "bodyParametersJson": "{\"orgId\":\"={{$json.ORG_ID}}\",\"channel\":\"sms\",\"to_addr\":\"={{$json.contact.phone}}\",\"body\":\"={{`How was your visit? Reply 1-5. 4-5⭐: leave a quick Google review at https://g.page/r/REPLACE`}}\"}"
      },
      "id": "sendReviewSMS",
      "name": "Send Review SMS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [920, 180]
    }
  ],
  "connections": {
    "Cron (Daily)": { "main": [[{ "node": "Set ENV", "type": "main", "index": 0 }]] },
    "Set ENV": { "main": [[{ "node": "Fetch Completed Appointments", "type": "main", "index": 0 }]] },
    "Fetch Completed Appointments": { "main": [[{ "node": "Split Items", "type": "main", "index": 0 }]] },
    "Split Items": { "main": [[{ "node": "Send Review SMS", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": {},
  "staticData": null,
  "pinData": {}
}