n8n/04_Dunning_Stripe.json
{
  "name": "ClientFlow — Dunning (Stripe Payment Failures)",
  "nodes": [
    {
      "parameters": {
        "keepOnlySet": true,
        "values": { "string": [
          { "name": "API_BASE_URL", "value": "https://YOUR-API-DOMAIN.com/api" },
          { "name": "ORG_ID", "value": "REPLACE_WITH_ORG_UUID" },
          { "name": "AUTH_TOKEN", "value": "Bearer REPLACE_WITH_PERSONAL_ORG_TOKEN" },
          { "name": "SLACK_WEBHOOK_URL", "value": "https://hooks.slack.com/services/REPLACE" }
        ]}
      },
      "id": "setEnv",
      "name": "Set ENV",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [240, 200]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "clientflow/stripe",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "stripeWebhook",
      "name": "Webhook (Stripe)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [40, 200],
      "webhookId": "clientflow-stripe"
    },
    {
      "parameters": {
        "functionCode": "// Extract basic event type (full verification should happen in API too)\nconst evtType = $json.type || \"\";\nreturn [{ json: { ...$json, evtType } }];"
      },
      "id": "codeExtract",
      "name": "Code: Extract Stripe Event",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 200]
    },
    {
      "parameters": {
        "conditions": { "string": [{ "value1": "={{$json.evtType}}", "operation": "contains", "value2": "invoice.payment_failed" }] }
      },
      "id": "ifFailed",
      "name": "IF invoice.payment_failed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [700, 200]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "={{$json.API_BASE_URL}}/messages/outbound",
        "jsonParameters": true,
        "options": {},
        "headerParametersJson": "[{\"name\":\"Authorization\",\"value\":\"={{$json.AUTH_TOKEN}}\"}]",
        "bodyParametersJson": "{\"orgId\":\"={{$json.ORG_ID}}\",\"channel\":\"email\",\"to_addr\":\"={{$json.data.object.customer_email || \\\"billing@customer.com\\\"}}\",\"body\":\"Your payment failed. Update your card here: https://app.yourdomain.com/billing/portal\"}"
      },
      "id": "emailCustomer",
      "name": "Email Customer (Update Card)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [940, 120]
    },
    {
      "parameters": {
        "url": "={{$json.SLACK_WEBHOOK_URL}}",
        "jsonParameters": true,
        "options": {},
        "payload": "={{ {text: `Dunning alert: invoice failed for ${$json.data.object.customer_email || 'unknown'}`} }}"
      },
      "id": "slackAlert",
      "name": "Slack Alert",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [940, 300]
    }
  ],
  "connections": {
    "Webhook (Stripe)": { "main": [[{ "node": "Set ENV", "type": "main", "index": 0 }]] },
    "Set ENV": { "main": [[{ "node": "Code: Extract Stripe Event", "type": "main", "index": 0 }]] },
    "Code: Extract Stripe Event": { "main": [[{ "node": "IF invoice.payment_failed?", "type": "main", "index": 0 }]] },
    "IF invoice.payment_failed?": {
      "main": [
        [{ "node": "Email Customer (Update Card)", "type": "main", "index": 0 }],
        [{ "node": "Slack Alert", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": {},
  "staticData": null,
  "pinData": {}
}