n8n/workflows/lead-qualification.json
{
  "name": "Lead Qualification Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lead-qualification",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Lead Received",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "lead-qualification-webhook"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "lead-score-condition",
              "leftValue": "={{ $json.lead_score }}",
              "rightValue": 75,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "lead-score-check",
      "name": "Check Lead Score",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.CLIENTFLOW_API_URL }}/api/customers",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.CLIENTFLOW_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "business_id",
              "value": "={{ $json.business_id }}"
            },
            {
              "name": "first_name",
              "value": "={{ $json.first_name }}"
            },
            {
              "name": "last_name",
              "value": "={{ $json.last_name }}"
            },
            {
              "name": "email",
              "value": "={{ $json.email }}"
            },
            {
              "name": "phone",
              "value": "={{ $json.phone }}"
            },
            {
              "name": "source",
              "value": "lead-qualification"
            },
            {
              "name": "notes",
              "value": "Lead Score: {{ $json.lead_score }}, Source: {{ $json.source }}"
            }
          ]
        },
        "options": {}
      },
      "id": "create-customer",
      "name": "Create Customer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [680, 200]
    },
    {
      "parameters": {
        "url": "={{ $env.CLIENTFLOW_API_URL }}/api/conversations",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.CLIENTFLOW_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "customer_id",
              "value": "={{ $json.id }}"
            },
            {
              "name": "thread_type",
              "value": "sales_inquiry"
            },
            {
              "name": "channel",
              "value": "email"
            },
            {
              "name": "priority",
              "value": "high"
            },
            {
              "name": "tags",
              "value": ["qualified-lead", "hot-prospect"]
            }
          ]
        },
        "options": {}
      },
      "id": "create-conversation",
      "name": "Create Sales Conversation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [900, 200]
    },
    {
      "parameters": {
        "url": "={{ $env.CLIENTFLOW_API_URL }}/api/notifications",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.CLIENTFLOW_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "business_id",
              "value": "={{ $('Lead Received').item.json.business_id }}"
            },
            {
              "name": "type",
              "value": "qualified_lead"
            },
            {
              "name": "title",
              "value": "New Qualified Lead"
            },
            {
              "name": "message",
              "value": "High-scoring lead {{ $('Lead Received').item.json.first_name }} {{ $('Lead Received').item.json.last_name }} (Score: {{ $('Lead Received').item.json.lead_score }})"
            },
            {
              "name": "priority",
              "value": "high"
            }
          ]
        },
        "options": {}
      },
      "id": "notify-sales-team",
      "name": "Notify Sales Team",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "url": "={{ $env.CLIENTFLOW_API_URL }}/api/conversations",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.CLIENTFLOW_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "customer_id",
              "value": "={{ $('Lead Received').item.json.customer_id }}"
            },
            {
              "name": "thread_type",
              "value": "nurture_sequence"
            },
            {
              "name": "channel",
              "value": "email"
            },
            {
              "name": "priority",
              "value": "normal"
            },
            {
              "name": "tags",
              "value": ["nurture-lead", "follow-up"]
            }
          ]
        },
        "options": {}
      },
      "id": "create-nurture-conversation",
      "name": "Create Nurture Sequence",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [680, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"message\": \"Lead processed successfully\", \"lead_id\": $('Lead Received').item.json.lead_id, \"qualification_status\": $('Lead Received').item.json.lead_score >= 75 ? \"qualified\" : \"nurture\" } }}"
      },
      "id": "webhook-response",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1340, 300]
    }
  ],
  "connections": {
    "Lead Received": {
      "main": [
        [
          {
            "node": "Check Lead Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Lead Score": {
      "main": [
        [
          {
            "node": "Create Customer",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Nurture Sequence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Customer": {
      "main": [
        [
          {
            "node": "Create Sales Conversation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Sales Conversation": {
      "main": [
        [
          {
            "node": "Notify Sales Team",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Sales Team": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Nurture Sequence": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "lead-qualification-workflow",
  "tags": ["lead-qualification", "sales", "automation"]
}
